*.gem
*.sublime-project
*.sublime-workspace
assets/blank-template/index.html
assets/blank-template/about.html
assets/blank-template/scripts/bootstrap.min-v2.1.1.js
assets/blank-template/stylesheets/style-1.0.css
assets/blank-template/getting-started.html


############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini


# Mac crap
.DS_Store
