
<div class="hero-unit">
	<h1>Folder Structure</h1>
	
	<p>The best way to understand the folder structure is to generate a new site and have a look at the files and code it produces.</p>
	
	<p>Or take a look at the source code of the following sites</p>

	<ul>
		<li><a href="https://github.com/cprobert/Static-CMS" target="_blank">Static-CMS</a></li>
		<li><a href="https://github.com/Nant-y-Cwm/nant-y-cwm.github.io" target="_blank">Nant-y-Cwm</a></li>
		<li><a href="https://github.com/Swan-Love/swan-love.github.io" target="_blank">Swan Love</a></li>
	</ul>

	<hr />
	<p><a class="btn btn-primary" href="options.html">Static-CMS Options</a></p>
</div>
