

<div class="hero-unit">
	<h1>Asset Bundling</h1>
	
	<p>It&#39;s best practise to <a href="http://developer.yahoo.com/performance/rules.html#num_http" target="_blank">minimise your download requests</a>. Static-CMS has a system that allows you to &#39;bundle&#39; your css and javascript files.</p>
</div>