<div class="hero-unit">
<h1>SCMS Options</h1>
<p>The easyest way to get a full list of options is to use the built in help</p>
<div class="code">
		<pre class="prettyprint"><code class="language-bsh">
   $ scms --help
		</code></pre>
		</div>
</div>
