<div class="span4">
    <h2>Built in web server</h2>
    <p>Use the --serve option to build and view your website</p>
    <div class="code">
        <pre class="prettyprint"><code class="language-bsh">
  $ scms&nbsp;--serve
        </code></pre>
    </div>
    <p>To stop the built in web server use [Ctrl] + [C]</p>
</div>

<div class="span4">
    <h2>Change dectection</h2>
    <p>The --watch option to detect changes to your views and layouts:</p>
    <div class="code">
        <pre class="prettyprint"><code class="language-bsh">
  $ scms&nbsp;--watch
        </code></pre>
    </div>
    <p>To stop the filewatcher use [Ctrl] + [C]</p>
</div>

<div class="span4">
    <h2>Multi options</h2>
    <p>You can use multiple options together</p>
    <div class="code">
        <pre class="prettyprint"><code class="language-bsh">
  $ scms&nbsp;--watch&nbsp;--serve
        </code></pre>
    </div>
    <p>Note: scms processes files in the current working directory</p>
</div>

<div class="span12">
    <hr />
    <p><strong>Next:</strong> Learn about folder structure:</p>
    <p><a href="structure.html" class="btn btn-success btn-large">Learn more</a></p>
</div>