scms -a watch
whatched for chnges to _views and _templates

cms --server
launches the website on localhost:8088

and you can do both togeather
scms -a watch --server



Adding <%= page.livereload %> to your template allows it to work with the live reload software

<section id="gridSystem">
	<div class="span12">
		<h2>the -w flag</h2>
		<p>
			Open s3config.yml in your text editor and edit the following:</p>
		
		<h2>Add your S3 certs</h2>
		<p>
			Create a folder called &quot;s3certs&quot; and download your downloaded S3 certs to this folder.</p>
		<h2>
			Publishing</h2>
		<p>From a terminal:</p>
		<div class="code">
		<pre class="prettyprint"><code class="language-bsh">
  $  s3cms -a deploy -w pathto/www.mywebsite.com
		</code></pre>
		</div>
		<p>The compiled html files will be synced with S3 (only changed files will be uploaded).</p>
		<p>Open the URL of website and check the deployment was successful.</p>
		<p>Tip: If you decide to publish your images with caching (recomended) add a version number to edited images, e.g. myimage-v1.1.png.</p>
	</div>
</section>
