<div class="hero-unit">
<h1>SCMS Commands</h1>
<p>use scms --help for a full list of commands</p>
<div class="code">
		<pre class="prettyprint"><code class="language-cmd">
	cd ./working/dir
		</code></pre>
		</div>
</div>
