<div class="span4">
    <h2>Creating a new site</h2>
    <p>To create new website:</p>
    <div class="code">
        <pre class="prettyprint"><code class="language-ruby">
  $ s3cms&nbsp;-a&nbsp;create&nbsp;-w&nbsp;pathto\www.mynewsite.com
        </code></pre>
    </div>
    <p>The new html files will be found in the &quot;websites&quot; folder.</p>
</div>

<div class="span4">
    <h2>Compile</h2>
    <p>To compile the templates into a html website:</p>
    <div class="code">
        <pre class="prettyprint"><code class="language-ruby">
  $ s3cms&nbsp;-a&nbsp;build&nbsp;-w&nbsp;pathto\www.mynewsite.com
        </code></pre>
    </div>
    <p><em>The default action is build(feel free to exclude the -a flag).</em></p>
</div>

<div class="span4">
    <h2>Publish</h2>
    <p>To publish your website:</p>
    <div class="code">
        <pre class="prettyprint"><code class="language-ruby">
  $ s3cms&nbsp;-a&nbsp;deploy&nbsp;-w&nbsp;pathto\www.mynewsite.com
        </code></pre>
    </div>
    <p><em>The default website path is the current working dir.</em></p>
</div>

<div class="span12">
    <hr />
    <p><strong>Next:</strong> Learn about folder structure:</p>
    <p><a href="structure.html" class="btn btn-success btn-large">Learn more</a></p>
</div>