<div class="hero-unit">
    <h1>Easyily Build Super-Fast Static Websites!</h1>
    
    <pre class="prettyprint" style="margin-top: 30px;"><code class="language-bsh">
  $ gem install scms
  $ scms -a create mynewsite
  $ cd mynewsite
  $ scms -a build
    </code></pre>
    
    <p>check the <a href="prerequisites.html">prerequisites</a></p>
</div>