<div class="hero-unit">
    <h1>Easyily Build Super-Fast Static Websites!</h1>
    
    <pre class="prettyprint" style="margin-top: 25px;"><code class="language-bsh">
  $ gem install scms
  $ scms --create mynewsite
  $ cd mynewsite
  $ scms --serve
    </code></pre>

    <p>check the <a href="prerequisites.html">prerequisites</a></p>
</div>