
<div class="hero-unit">
	<h1>Folder Structure</h1>
	
	<p>At the simplest level s3cms publishes all files in the public folder.  You can also generate files that will be merged with these static assets.</p>
	
</div>
