  <ul class="nav navbar-nav">
    <li class="active"><a href="~/index.html">Home</a></li>
    <li><a href="~/getting-started.html">Getting started</a></li>
    <li><a href="#contact">Contact</a></li>
  </ul>