<div class="hero-unit">
<h1>How to Publish your Website</h1>
<p>Static-CSM can publish to Amazon S3. Perfect for extremely inexpensive hosting.</p>
<ol>
<li>Create _s3config.yml</li>
<li>Add S3 certificates</li>
<li>Run deployment script</li>
</ol>
<p>If you are unfamiliar with Amazon S3, checkout <a href="http://www.labnol.org/internet/web-hosting-with-amazon-s3/18742/" target="_blank">this tutorial</a> on creating an S3 bucket for hosting a website.</p>
</div>
