<div class="hero-unit">
    <h1>Easyily Build Super-Fast Static Websites!</h1>

    <h2>Static-CMS is a <a href="https://www.google.co.uk/search?q=define:+ruby+gem" target="_blank">ruby gem</a> for creating simple static websites in minutes.</h2>

    <hr />
    <p>To install, first open up a terminal/<a href="http://lifehacker.com/5989434/quickly-open-a-command-prompt-from-the-windows-explorer-address-bar" target="_blank">command prompt</a> in your working directory (requires <a href="prerequisites.html">Ruby [1.9.3]</a>).</p>
    
    <pre class="prettyprint" style="margin-top: 25px;"><code class="language-bsh">
  $ gem install scms
    </code></pre>

    <p>To create your first Static-CMS site:</p>

    <pre class="prettyprint" style="margin-top: 25px;"><code class="language-bsh">
  $ scms --create mynewsite
  $ cd mynewsite
  $ scms --serve
    </code></pre>
    
    <p>Static-CMS also comes with a WYSIWYG editor called <a href="http://ipassexam.github.io/Air-Monkey/">Air-Monkey</a>, so your clients can edit their sites in point and click environment.</p>
</div>